<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">ぼくのでんしゃアルバム</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <% unless logged_in? %>
                      <li><%= link_to "新規登録", signup_path %></li>
                      <li><%= link_to "ログイン", login_path %></li>
                    <% else %>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            しんかんせん
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to "はやぶさ", "/categories/1" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "スーパーこまち", "/categories/2" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "かがやき", "/categories/3" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "E4系", "/categories/4" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "N700系", "/categories/5" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "700系", "/categories/6" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "500系", "/categories/7" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "800系", "/categories/8" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "ドクターイエロー", "/categories/9" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "イーストアイ", "/categories/10" %>
                            </li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            とっきゅう
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to "スカイライナー", "/categories/11" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "成田エクスプレス", "/categories/12" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "スーパービュー", "/categories/13" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "りょうもう", "/categories/14" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "ラピート", "/categories/15" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "はくたか", "/categories/16" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "カシオペア", "/categories/17" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "スーパーひたち", "/categories/18" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "スペーシア", "/categories/19" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "しまんと", "/categories/20" %>
                            </li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            つうきんでんしゃ
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to "山手線", "/categories/21" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "湘南新宿ライン", "/categories/22" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "東海道本線", "/categories/23" %>
                            </li>
                            <li>
                              <%= link_to "京急電鉄", "/categories/24" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "東京急行電鉄", "/categories/25" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "西武鉄道", "/categories/26" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "阪急電鉄", "/categories/27" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "京阪電鉄", "/categories/28" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "名古屋鉄道", "/categories/29" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "マリンライナー", "/categories/30" %>
                            </li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            いろんなでんしゃ
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to "蒸気機関車", "/categories/31" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "モノレール", "/categories/32" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "貨物車", "/categories/33" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "路面電車", "/categories/34" %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "超電導リニア", "/categories/35" %>
                            </li>
                          </ul>
                      </li> 
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="gravatar">
                            <%= gravatar_for current_user , size: 20 %>
                          </span>
                          <%= current_user.name %>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <%= link_to "マイアルバム" , current_user  %>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li>
                            <%= link_to "ログアウト", logout_path, method: "delete" %>
                          </li>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </div>
            </div>
        </div>
    </nav>
</header>